// .sider {
//   height: 100vh;
//   background: $color1;
//   h1 {
//     font-family: 'Montserrat', sans-serif;
//     text-align: center;
//     color: $color5;
//     font-size: 22px;
//   }
// }

// #profile-picture {
//   width: 100%;
//   border-radius: 50%;
//   padding: 10%;
// }
.layout {
  position: relative;
  min-height: 100vh;
}

.content {
  background: $color5;
  height: 200vh;
  padding-bottom: $footer-height;
}
