// .sider {
//   height: 100vh;
//   background: $color1;
//   h1 {
//     font-family: 'Montserrat', sans-serif;
//     text-align: center;
//     color: $color5;
//     font-size: 22px;
//   }
// }

// #profile-picture {
//   width: 100%;
//   border-radius: 50%;
//   padding: 10%;
// }
.layout {
  position: relative;
  min-height: 100vh;
}

.content {
  background: $color5;
  height: 200vh;
  padding-bottom: $footer-height;
}

.navbar-responsive {
  background: $color5;
  .ant-menu {
    border-bottom: 0px;
    background: rgba(0, 0, 0, 0);
    .ant-menu-item-active,
    .ant-menu-item-selected {
      border-color: $color1;
    }
  }
}
