.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .react-pdf__Page__canvas {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #resume-download-button {
    margin: 20px 0px 20px 0px;
    color: $text1;
    &:hover {
      color: $text2;
    }
    svg {
      height: 32px;
      width: 32px;
    }
  }
}
