// $text1: #92977e;
// $text2: #d6e58e;
// $page2: #fefcad;
// $footer: #eadda6;
// $page1: #fffae2;

$text1: #42191c;
$text2: #ff5e6c;

$footer: #fff5d7;

$page1: #fff5d7;
$page2: #feb300;

$footer-height: 6rem;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
